# Entorno virtual y Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Tests
.pytest_cache/
.coverage
htmlcov/

# Logs y configuración local
logs/*.txt
.config/

# SO
.DS_Store

# Machine Learning / Modelos (Evitar commits accidentales de gigabytes)
*.safetensors
*.bin
*.pt
*.onnx
